@charset "UTF-8";
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Centra los elementos de la lista */
}

nav ul li {
    display: inline-block; /* Hace que los elementos de la lista sean mostrados en línea */
}

nav ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

.content {
    padding: 20px;
}